:root {
  --primary-color: #bfa274;
  --primary-color-light: #f2ece3;
  --primary-color-dark: #a6885a;
  --dark-gray: #1a232b;
  --gray-font: #7a808a;
  --active-font: #fff;
  --active-bg: #e630501a;
  --black-font: #071739;
  --bg-gray: #f7f9fb;
}

@font-face {
  font-family: 'Helvetica Neue W23 for SKY';
  src: url('assets/fonts/Helvetica font/HelveticaNeueW23forSKY-Reg.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue W23 for SKY';
  src: url('assets/fonts/Helvetica font/Helvetica-Bold.ttf') format('truetype');
  /* font-weight: bold; */
  font-style: normal;
}

/* scrollbat */
/* WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 12px;
  height: 12px; /* For horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
  border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #999 #f1f1f1;
}

body {
  font-family: 'Helvetica Neue W23 for SKY', sans-serif;
  direction: rtl;
  font-size: 14px;
  color: #071739;
}

.active-color {
  color: var(--primary-color);
}

.trash-color {
  color: #eb3d34;
  &:hover {
    color: #eb3d34;
  }
}
.gray-color {
  color: var(--gray-font);
}
a {
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  #sidebar {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    transition: left 0.3s;
    z-index: 1030;
  }
  #sidebar.show {
    right: 0;
  }
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1029;
  }
  .overlay.show {
    display: block;
  }
}
header.navbar {
  background: #1a232b;
  min-height: 85px;
  border-width: 0px 0px 1px 0px;
}
header.navbar h5 {
  color: #ffffff;
  padding: 0;
  margin: 0;
  font-size: 12px;
}
header.navbar h5 .icon {
  color: var(--active-font);
}
header.navbar span {
  color: #b3b9c0;
  margin: 0;
  font-size: 11px;
}
#sidebar {
  min-height: 100vh;
  padding-top: 1rem;
  border-left: 1px solid #e1e1e1;
  background: #ffff;
  overflow: auto;
}

#sidebar .nav-link {
  font-size: 14px;
  color: var(--gray-font);
  padding: 0px 15px 0px 15px;
  min-height: 45px;
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}

#sidebar .nav-link.active {
  background: var(--primary-color);
  color: var(--active-font);
  font-weight: 400;
  border-radius: 8px;
  img {
    /* NOTE:check late why it doesn't work */
    fill: #fff !important;
  }
}
#sidebar .nav-link.active img {
  color: #fff;
}
.breadcrumb-nav {
  height: 32px;
  display: flex;
  align-items: center;
  font-size: 12px;
  color: var(--gray-font) !important;
  gap: 4px;
}
.breadcrumb-nav a {
  color: var(--gray-font) !important;
}
.breadcrumb-nav .breadcrumb-item.active {
  color: var(--primary-color) !important;
}
.title-page {
  font-size: 20px;
  color: var(--black-font);
  padding: 20px 0px;
}
.main-content {
  padding: 2rem;
}
.container-tabel {
  background: var(--bg-gray);
  height: 100%;
  margin-top: 10px;
}
.table-responsive {
  background: #fff;
  border-radius: 6px;
}

.table thead th {
  vertical-align: middle;
  text-wrap: nowrap;
  padding: 10px 1.8rem;
}
.table-offcanvas thead th {
  padding: 5px !important;
}

.table tbody td {
  vertical-align: middle;
}
.daterangepicker .drp-calendar.left {
  display: block;
}
.daterangepicker .drp-calendar.right {
  display: none;
}
.daterangepicker .drp-buttons {
  float: none;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.daterangepicker .in-range {
  background-color: var(--active-bg) !important;
}

.daterangepicker .active,
.daterangepicker .active:hover {
  background-color: var(
    --active-font
  ) !important; /* Your desired start/end date background color */
  border-radius: 4px !important;
}
.daterange-input {
  border: 1.3px solid #dbdee1;
  height: 40px;
  display: flex;
  align-items: center;
  min-width: 160px;
  border-radius: 5px;
}
.daterange-input input {
  background: transparent;
  width: 100%;
  height: 40px;
  cursor: pointer;
  font-size: 13px;
}
.daterange-input img {
  margin-left: -24px;
  margin-right: 6px;
}

.daterange-input i {
  margin-right: -24px;
  margin-left: 6px;
}
.search-input {
  color: var(--gray-font);
  position: relative;
  min-width: 300px;
  display: flex;
  align-items: center;
}
.search-input input {
  background: var(--bg-gray);
  color: var(--gray-font);
  padding: 0px 23px;
  height: 40px;
  font-size: 13px;
}
.search-input i {
  z-index: 10;
  right: 4px;
  position: absolute;
}

/* ----------------------------- input Wrappers ----------------------------- */
.input-wrapper {
  position: relative;
}

.input-wrapper input,
.input-wrapper textarea,
.input-wrapper select {
  border: 1px solid #dbdee1 !important;
  border-radius: 6px;
  position: relative;
  /* width: 200px; */
  /* margin: 10px; */
  line-height: 6ex;
  height: 40px;
  padding: 0 10px;
}

.map-btn {
  border: 1px solid #dbdee1 !important;
  border-radius: 6px;
  position: relative;
  text-align: start;
  display: flex;
  align-items: center;
  /* width: 200px; */
  /* margin: 10px; */
  line-height: 6ex;
  height: 40px;
}

.input-wrapper label {
  position: absolute;
  top: -1.3ex;
  z-index: 1;
  font-size: 12px;
  right: 0.8em;
  background-color: white;
  color: var(--gray-font);
}
.input-wrapper.select:after {
  content: '\f078';
  font: normal normal normal 17px/1 FontAwesome;
  color: var(--primary-color);
  left: 11px;
  top: 30%;
  height: 20px;

  position: absolute;
  pointer-events: none;
}

select::-ms-expand {
  display: none;
}

.input-wrapper select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-width: 142px;
  display: block;
  width: 100%;
  /* max-width: 320px; */
  height: 50px;
  float: right;
  margin: 5px 0px;
  padding: 0px 5px;
  font-size: 13px;
  line-height: 1.75;
  color: var(--gray-font);
  background-color: #ffffff;
  background-image: none;
  border: 1px solid var(--gray-font);
  -ms-word-break: normal;
  word-break: normal;
  height: 40px;
}
.btn-add,
.btn-add:hover {
  background-color: var(--primary-color);
  height: 40px;
  border-radius: 10px;
  color: white;
}
.form-check-custom {
  font-size: 13px;
  color: var(--gray-font);
  direction: initial;
}

/* table */
.table tr th {
  color: var(--gray-font);
  background: var(--bg-gray);
  text-wrap: none;
  font-size: 13px;
  font-weight: 400;
  border-color: var(--bg-gray) !important;
}
.table tr td {
  white-space: nowrap;
}

.table tr {
  border-color: var(--bg-gray) !important;
  text-align: center;
}
.select-img img {
  width: 135px;
  height: 135px;
  border-radius: 10px;
  border: 2px dashed var(--active-font);
  margin: auto;
}
.select-user-img img {
  width: 135px;
  height: 135px;
  padding: 2px;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  margin: auto;
}

/*splash page*/
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--bg-gray);
  justify-content: center;
  gap: 5px;
}
.login-form form {
  width: 375px;
  gap: 5px;
}
.login-form form input,
.login-form form label {
  background: var(--bg-gray) !important;
}
.login-form form input {
  font-size: 15px;
  padding-top: 25px;
  height: 45px;
}
.login-title {
  font-size: 24px;
  font-weight: 700;
}
.input-custom.error input {
  border: 1px solid red;
}
.valid-error {
  color: red;
  font-size: 11px;
  padding: 0px 20px 10px;
  display: none;
}
.input-custom.error .valid-error {
  display: block grid;
}
div#preview-container {
  position: absolute;
  left: 12px;
  top: 0;
}
.page-item:first-child .page-link,
.page-item:last-child .page-link {
  border-radius: 0px;
}
.page-item .page-link {
  border-color: var(--bg-gray);
  color: var(--gray-font);
}
.page-item .page-link.active {
  background: var(--primary-color);
  color: black;
}
.btn-logout,
.btn-logout:hover {
  background: #fff;
  color: var(--black-font);
}
.tab-btn,
.tab-btn:hover {
  color: #606c7e;
  border: 1.3px solid #dbdee1;
  font-size: 14px;
  min-height: 40px;
  min-width: 8rem;
}
.tab-btn.active,
.tab-btn.active:hover {
  color: var(--primary-color);
  border: 1.3px solid var(--primary-color);
  font-size: 14px;
  min-height: 40px;
  min-width: 8rem;
  background: var(--primary-color-light);
}
.action-btn {
  background: var(--bg-gray);
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-check-input:checked {
  background-color: #28b446;
  font-size: 20px;
  border-color: #28b446;
}
.form-check-input {
  background-color: #e1e1e1;
  font-size: 20px;
  border-color: var(--bg-gray);
}

/* Modal */

.modal-header {
  border-bottom: none;
  button {
    background-color: #ededed;
    border-radius: 50%;
  }
}
.modal-body {
  text-align: center;
}
.modal-body .icon {
  font-size: 45px;
  color: var(--primary-color);
}
.modal-body .message {
  font-size: 20px;
  margin-top: 10px;
  font-weight: 80;
}
.modal-footer {
  justify-content: center;
  border-top: none;
}
.btn-delete {
  background-color: #dd1e47;
  height: 40px;
  border-radius: 10px;
  width: 12rem;
  border: none;
  color: white;
}
.btn-accept {
  background-color: var(--primary-color);
}
.modal-dialog-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  max-width: 24rem;
  max-height: 20rem;
  margin: auto;
}

/* DatePicker */

/* Custom CSS for the selected date in the Date Range Picker */
.daterangepicker td.active,
.daterangepicker td.active:hover,
.daterangepicker td.active.start-date,
.daterangepicker td.active.end-date {
  background-color: var(--primary-color) !important;
  color: #33343a !important;
}
/* Custom CSS for the selected date range in the Date Range Picker */
.daterangepicker td.in-range {
  background-color: var(
    --primary-color-light
  ) !important; /* Your custom color for in-range dates */
  color: black !important; /* Ensure text is readable */
}

/* add-feature-btn */
.add-feature-btn {
  background: var(--primary-color-light);
  border: none;
  color: var(--primary-color);
  border-radius: 8px;
  padding: 0.6rem 2rem;
  font-weight: 500;
  cursor: pointer;
  margin-left: 1rem;
  &:hover {
    background: var(--primary-color);
    color: var(--active-font);
    transition-duration: 0.3s;
  }
}

/* add-new-feature */
.add-new-feature {
  color: var(--primary-color);
  border: 1px dashed var(--primary-color);
  padding: 0.6rem 0;
  border-radius: 8px;
  &:hover {
    background: var(--primary-color-light);
    transition-duration: 0.3s;
  }
}

/* Cutom Radio */

.radio-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #f4f4f4;
  padding: 10px 14px;
  border-radius: 10px;
  width: 100%;
  margin: 0 auto;
}
.radio-group label {
  font-size: 1rem;
  color: #2c3e50; /* Customize the text color */
}
.radio-group-vertical {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #dbdee1;
  padding: 10px 14px;
  border-radius: 5px;
  height: 2.8rem;
  max-width: 49%;
}
.radio-group-vertical label {
  font-size: 0.9rem;
  color: #2c3e50; /* Customize the text color */
}

input[type='radio'] {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  cursor: pointer;
  border-radius: 50%;
  outline: none;
  box-shadow: 0 0 2px 0px var(--primary-color) inset;
}

input[type='radio']:hover {
  box-shadow: 0 0 5px 0px var(--primary-color) inset;
}

input[type='radio']:before {
  content: '';
  display: block;
  width: 60%;
  height: 60%;
  margin: 20% auto;
  border-radius: 50%;
}

input[type='radio']:checked:before {
  background: var(--primary-color);
}

.btn-save {
  background: var(--primary-color);
  color: var(--active-font);
  border: none;
  border-radius: 6px;
  padding: 0.25rem 0.75rem;
  font-weight: 500;
  cursor: pointer;
  &:hover {
    color: var(--active-font);
    transition-duration: 0.3s;
  }
}

.cost {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 7rem;
  border: 1px solid #dbdee1;
  padding: 5px 10px;
  border-radius: 5px;
}

.icon-button {
  color: #fff;
  border: none;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 8px;
  transition-duration: 0.3s;
}

.add-product {
  background: var(--primary-color);

  &:hover {
    background: var(--primary-color-dark);
  }
}

.add-work-space {
  background: #919ba9;

  &:hover {
    background: #788290;
  }
}

.down-list-icon {
  width: 10px;
  color: #bfa274;
  position: absolute;
  left: 10px;
  top: 18px;
  z-index: 999;
}

/* File uploader */
.upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.file-upload {
  display: none;
}

.upload-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.5rem 1rem;
  border: 2px dashed #bebebe;
  border-radius: 8px;
  color: var(--primary-color);
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.upload-label:hover {
  background-color: #f1f1f1;
}

.upload-icon {
  font-size: 18px;
  margin-right: 10px;
}

.file-details {
  margin-top: 20px;
  text-align: center;
}

.file-details h5 {
  color: var(--primary-color);
}

.file-details ul {
  list-style: none;
  padding: 0;
}

.file-details li {
  margin: 5px 0;
  font-size: 16px;
}

/* Actions buttons */

.refuse,
.accept {
  border: none;
  border-radius: 5px;
  padding: 4px 15px;
  color: #fff;
  cursor: pointer;
}

.refuse {
  background-color: #e63050;
}

.refuse:hover {
  background-color: #d63b57;
}

.accept {
  background-color: #48b446;
}

.accept:hover {
  background-color: #3ca639;
}

/* --------------------------------- marekt --------------------------------- */

.icon-trader {
  width: 44px;
  height: 44px;
  border-radius: 12px;
}

.trader-statistics {
  display: inline-block;
  height: 7.8rem;
  width: 10.75rem;
  padding: 2px;
  border: 1px solid #e3e3e3;
  border-radius: 0.6rem;
}
.trader-statistics-dashboard {
  width: 16%;
}

.btn-money {
  background: var(--primary-color);
  color: white;
  border-radius: 10px;
  padding: 17px 16px;
  width: 111px;
  height: 31px;
  display: flex;
  align-items: center;
  &:hover {
    color: white;
    background: var(--primary-color-dark);
  }
}

/* shipping compant details */

.wallet-buttons {
  border: none;
  border-radius: 5px;
  padding: 4px 15px;
}
.add {
  background-color: #dff4e3;
  color: #28b446;
}
.discount {
  background-color: #fbe0e5;
  color: var(--primary-color);
}

.trader-statistics-money {
  display: inline-block;
  height: 3.7rem;
  width: 10rem;
  padding: 2px;
  border: 1px solid #e3e3e3;
  border-radius: 0.8rem;
}

/* Map */
#map,
#map2 {
  height: 400px;
  width: 100%;
  border-radius: 12px;
}
.small-map {
  height: 18rem !important;
}

/* ----------------------------- Custom Buttons ----------------------------- */

.btn-status {
  border: none;
  padding: 0.5rem;
  border-radius: 8px;
}
.btn-gray-scale {
  background-color: #dddedf;
  color: var(--gray-font);
}

.btn-yellow {
  background-color: #fef1e0;
  color: #f9a130;
}

.btn-cancell {
  color: #e63050;
  border: 1px solid #e63050;
  background-color: white;
}

.btn-success {
  background-color: #28b446;
  color: white;
}

/* order details */
.total {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  min-width: 13rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  span {
    color: #242e42;
  }
}

.total-alaaEldin {
  background-color: #fff6eb;
  strong {
    color: #f9a130;
  }
}

.total-order-cost {
  background-color: #fdebee;
  strong {
    color: #e63050;
  }
}

.back-img {
  cursor: pointer;
  align-self: flex-start;
  padding-top: 5px;
}
.tiny-btn {
  background-color: #e3f5e7;
  color: #28b446;
  padding: 4px 8px;
  border-radius: 1rem;
}

/* Stepper */
.container {
  direction: rtl; /* Set direction to right-to-left for Arabic */
}

.step {
  text-align: center;
  position: relative;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 auto;
  z-index: 2;
  position: relative;
}
.line {
  height: 2px;
  background-color: #ccc;
  position: absolute;
  top: 8px;
  width: 115%;
  margin-right: -12px;
  transform: translateX(50%);

  z-index: 1;
}
.line-long {
  width: 110%;
  margin-right: -20px;
}

.completed .circle {
  background-color: #28b446;
}

.completed .line {
  background-color: #28b446; /* Only the line before the completed step is green */
}

.label {
  font-size: 12px;
  margin-top: 10px;
}

.date {
  font-size: 10px;
  color: #888;
  margin-top: 5px;
}

.card-title {
  color: var(--primary-color);
  font-size: 18px;
}
.card {
  border: none;
  border-radius: 12px;
}
.card-body {
  color: var(--black-font);
  small {
    color: var(--gray-font) !important;
  }
}

.marker-icon {
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  background-color: var(--bg-gray);
  border-radius: 8px;
}

/* -------------------------------- DashBoard ------------------------------- */
.new-users {
  color: var(--primary-color);
  font-weight: 700;
  margin-right: 3px;
  margin-bottom: 1rem;
}

/* --------------------------------- sub-officcials --------------------------------- */
.radio-group-sub-officcials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  /* width: 20rem; */
  /* margin-right: 9px; */
  border-radius: 8px;
  border: 1px solid #dbdee1;
}
.radio-group-sub-officcials label {
  font-size: 1rem;
  color: #2c3e50; /* Customize the text color */
}

.img-container {
  display: inline-block;
  position: relative;
}

.remove-img {
  top: 0;
  left: 0;
  cursor: pointer;
  display: none; /* Initially hidden */
}

.preview-container .remove-img {
  display: block;
}

/* -------------------------------- check-box ------------------------------- */
.checkbox-group {
  display: flex;
  align-items: center;
}

.checkbox-group label {
  margin-left: 5px;
  font-weight: 500;
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.custom-checkbox input {
  opacity: 0;
  width: 0;
  height: 0;
}

.custom-checkbox span {
  position: absolute;
  top: 0.2rem;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 4px;
}

.custom-checkbox input:checked + span {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.custom-checkbox span:after {
  content: '';
  position: absolute;
  display: none;
}

.custom-checkbox input:checked + span:after {
  display: block;
}

.custom-checkbox span:after {
  left: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.check-box-label {
  font-size: 18px;
  font-weight: bold;
  color: #1a232b;
}

.form-check {
  padding-left: 5.25px;
}

.check-box-width {
  width: 100%;
}
.small-check-box {
  width: 33%;
}

.system-setting {
  color: var(--primary-color);
  font-weight: bold;
}

.done {
  color: #28b446 !important;
}
.not-purchased {
  color: #f9a130 !important;
}
.cancelled {
  color: red !important;
}
.no-time {
  color: #868d98 !important;
}

/* statistics */
.statistics {
  display: inline-block;
  height: 5rem;
  width: 12.1rem;
  padding: 2px;
  border: 1px solid #e3e3e3;
  border-radius: 0.6rem;
}
/* Add discount */

.wallet-btns {
  border: none;
  border-radius: 8px;
  padding: 6px 12px;
}
.discount {
  background-color: #fbe0e5;
  color: #e63050;
  &:hover {
    background-color: #f9d3dc;
    color: #e63050;
  }
}
.flash-sale {
  background-color: var(--primary-color-light);
  color: var(--primary-color);
  &:hover {
    background-color: var(--primary-color);
    color: var(--active-font);
  }
}
.percent-icon {
  position: absolute;
  left: 13px;
  top: 0.6rem;
}

/* trader papers */
.trader-papers {
  width: 18rem;
  border-radius: 12px;
  p {
    font-size: 16px;
  }
}

.table-head {
  width: 1rem;
}

.add-img {
  border: 1px dashed #bfa274;
  border-radius: 10px;
  background-color: #f8f8f8;
  width: 8rem;
  display: flex;
  justify-content: center;
}

.sizes_container {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Adjust spacing between lines */
}

.subcategory-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.new-product-img {
  display: flex;
  justify-content: center;
  width: 15rem;
  padding: 0.45rem 0 !important;
}

.custom-dropdown-toggle {
  background-color: white !important;
  color: var(--gray-font) !important;
  font-size: 16px !important;

  border: 1px solid #ced4da !important;
  text-align: right !important;
}

.custom-dropdown-toggle::after {
  display: none !important;
}

.search-input {
  background-color: #f3f6f9;
}
.icon-rtl {
  padding-right: 2rem !important;
  background: url('https://static.thenounproject.com/png/101791-200.png')
    no-repeat right;
  background-size: 20px;
}

/* DropDown */

.dropdown {
  display: flex;
  align-items: center;
  gap: 8px; /* Add space between the text and the icon */
}

#selectedValue {
  font-weight: bold;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%; /* Position below the icon */
  left: 0;
  z-index: 1000;
  width: max-content;
}
.time-select {
  position: absolute;
  left: 14px;
  top: 25%;
  color: #606c7e;
}

/* Excel */
.export-sheet {
  padding: 6px 27px;
  color: #28b446;
  background-color: #dff4e3;
  border: none;
  border-radius: 6px;
}
.import-sheet {
  padding: 6px 27px;
  color: #f9a130;
  background-color: #fef1e0;
  border: none;
  border-radius: 6px;
}

/* Actions buttons */

.refuse,
.accept {
  border: none;
  border-radius: 5px;
  padding: 4px 15px;
  color: #fff;
  cursor: pointer;
}

.refuse {
  background-color: #e63050;
}

.refuse:hover {
  background-color: #d63b57;
}

.accept {
  background-color: #48b446;
}

.accept:hover {
  background-color: #3ca639;
}

.header {
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

/* text editor */
#editor-container {
  height: 300px; /* You can adjust the height */
  background-color: #f8f9fa; /* Optional: background color */
}

/* imagw container */

.riu-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: start;
}
.riu-upload-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: 1px dashed #bfa274;
  border-radius: 10px;
  background-color: #f8f8f8;
  cursor: pointer;
  position: relative;
}
.riu-upload-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.riu-uploaded-image {
  position: relative;
  width: 100px;
  height: 100px;
}
.riu-uploaded-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.riu-remove-img {
  position: absolute;
  top: 5px;
  right: 5px;
  background: #e63050;
  border-radius: 50%;
  cursor: pointer;
}

/* ?Header */
.riu-upload-wrapper-header {
  width: 21rem !important;
}

.riu-container-header {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: start;
}
.riu-uploaded-image-header {
  position: relative;
  width: 18rem !important;
}
.riu-uploaded-image-header img {
  width: 21rem;
  height: 6.25rem;
  object-fit: cover;
  border-radius: 10px;
}
.riu-remove-img-header {
  position: absolute;
  top: 0;
  right: 5px;
  background: #e63050;
  border-radius: 50%;
  cursor: pointer;
}

.support-btn {
  border: none;
  padding: 0.25em 1rem;
  border-radius: 5px;
  border: 1px solid #dbdee1;
  color: #606c7e;
  background-color: white;
}
.ended-btn {
  background-color: #fdebee;
  color: #e63050;
  border: 2px solid #e63050;
  &:hover {
    background-color: #f8d7da;
  }
}

.working-btn {
  background-color: #e3f5e7;
  color: #28b446;
  border: 2px solid #28b446;
  &:hover {
    background-color: #d4f0da;
  }
}

/* coupons */
.radio-group-coupon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  /* width: 20rem; */
  /* margin-right: 9px; */
  border-radius: 8px;
  border: 1px solid #dbdee1;
}
.radio-group-coupon label {
  font-size: 1rem;
  color: #2c3e50; /* Customize the text color */
}
